.coupon {
    width: 350px; /* Full width on mobile */
    box-sizing: border-box;
    margin-bottom: 16px; /* Add space between coupons */
    display: flex;
    height: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    color:white;
  }
  
  /* Media query for laptop screens */
  @media (min-width: 768px) {
    .coupon {
        text-align: center;
        width: 700px; /* Full width on mobile */
      float: left; /* Make coupons sit side by side */
        height: 100%;
      box-sizing: border-box;
      font-family: "Barlow Semi Condensed", sans-serif;
      position: relative;

    }
}
.coupon h1{
    font-size: 25px;
    font-weight: 300;
}

.couponName{
    font-size: 45px;
    font-weight: 900;
    margin:0;
}

.left{
    border-radius:20px 0px 0px 20px;
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    border-radius:0px 20px 20px 0px;

    width:30%;
    height: 100%;
    max-width: 200px;
}

.loveCoupon{
    font-size: 40px;
    font-weight: 300;
    margin: 0;

}
.rotate{
    transform: rotate(270deg);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Media query for laptop screens */
@media (max-width: 508px) {
    .rotate {
        transform: rotate(270deg);
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}


@media (max-width: 508px) {
    .couponID {
        display: none;
    }
    .loveCoupon{
        font-size: 30px;
        font-weight: 300;
        margin: 0;
    
    }
}
.couponID{
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    margin-top: 20px;
}